.bt-green, .bt-orange, .bt-darkblue, .bt-black{
    width: 100px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border:none;
    outline: none;
    box-shadow: 5px 5px 5px #aaaaaa;
    text-align: center;
    
}


.bt-green{
    color: white;
    background-color: green;
}


.bt-orange{
    color: white;
    background-color: orangered;
}

.bt-darkblue{
    color: white;
    background-color: darkblue;
}

.bt-black{
    color: white;
    background-color: black;
    
}
.box-card-2 button{
    
}