.dv-form{
    text-align: center;
    width: 350px;
    align-content: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

input{
    display: block;
    text-align: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: lightgray;
}


input[type="file"] {
    
    background-color: white;
    text-align: center;
}

select{
    
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    
}

textarea{
    width: 100%;
    outline: none;
}

.label-title{
    background-color: green;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1em;
    padding: 5px 0px 5px 0px;
    color: white;
}

.input-number{
    width: 50px;
   
}

.form-diplay-flex{
    display: flex;
}
